@font-face {
    font-family: 'HangyabolyRegular';
    src: url('../fonts/gszxd8ht.eot');
    src: url('../fonts/gszxd8ht.eot') format('embedded-opentype'),
         url('../fonts/gszxd8ht.woff2') format('woff2'),
         url('../fonts/gszxd8ht.woff') format('woff'),
         url('../fonts/gszxd8ht.ttf') format('truetype'),
         url('../fonts/gszxd8ht.svg#HangyabolyRegular') format('svg');
}


a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #EBB345;
}

 body { 
 	font-family: "HangyabolyRegular";
 	font-size: 18px;
 	color: #4E4E4D;
 	background: #e5e4d9;
 	 }

 .wrapper{
		height: auto;
  		min-height: 100%;
  		overflow: hidden;
 }

 .container-fluid-panel{
 	height: 210px;
 }

.navbar{
	background: #9c693c;
}
 .navbar .logo{
	margin: 0 auto;
	display: block;
	width: 184px;
	height: 186px;
	background: url(../img/logo1.png) no-repeat;
	text-align: center;
	text-transform: uppercase;
	background-size: 184px auto;
	line-height: 12em;
 }

.navbar .phone{
display: block;
position: relative;
right: -93px;
top: -137px;
font-size: 30px;
color: #fff;
width: 306px;
}

.navbar .mailto{
	display: block;
	position: relative;
	right: -1px;
	top: 18px;
	font-size: 30px;
	color: #fff;
}

.navbar .cardbox{
	position: absolute;
	right: 137px;
	top: 50px;
	width: 250px;
}

.navbar .cardbox .status-box{
	cursor: pointer;
	margin: 11px;
	font-size: 18px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px rgba(255,255,255,1);
	padding: 6px 10px;
	border: 2px solid #DDAF83;
	border-radius: 4px;
	color: #5F3007;	
}

.navbar .cardbox .doit{
	cursor: pointer;
	background: #723B08;
	width: 120px;
	text-align: center;
	margin: 2px auto;
	color: #fff;
	border-radius:40%;
	font-size: 16px;
}

.navbar__orderbutton {
  cursor: pointer;
  vertical-align: bottom;
  background: #FFFFFF;
  width: 100%;
  height: 32px;
  bottom: 0;
  color: #4E4E4D;
  font-size: 16px;
  padding-top: 6px;
  margin-bottom: -30px;
  text-align: center;
  border-radius: 4px;
}


.jumbotron{
	box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1)inset;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1)inset;
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1)inset;
	background: #ebb345;
}



.btn{
	background-color: #5F3007;
	color: #fff;
}

.thumbnail img{
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

.thumbnail img:hover{
	opacity: .5;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

.fact {
	text-align: center;
}

.fact img{
	border:2px solid #633d02;
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

.fact img:hover{
	opacity: .5;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

.fact p{
	font-size: 32px;
	font-style: bold;
	padding: 20px;
	color: #593b0b;
}

footer, footer:before{
	height: 180px;
	background-color: #9c693c;
}
 footer:before {
 	content: ' '; 
 	position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
}

.logo-footer{
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 184px;
	height:160px;
	background: url(../img/logo1.png) no-repeat;
	background-size: 160px auto;
}

.adr-footer{
	width: 200px;
	margin: 0 auto;
	padding-top: 50px;
}

.social-icon{
	margin-top: 80px;
	margin-left: 65px;

}

ul.social-foot li{
	display: inline;
	margin-right: 10px;
}

ul.social-foot li a{
	color: #4E4E4D;
}




.msg {
  margin: 20px 10px;
}
.alert {
  display: none;
}
/*модальное окно*/
.btn__order {
  background-color: #899395;
  border: 1px solid #899395;
}
.modal-body {
  padding: 0 20px 10px;
  background: url('../../static/img/common/cart_bg_dark.png') repeat;
}
.modal-body h4 {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: "open_sans_condensedbold";
  color: #00778c;
}
.modal-body .input-group {
  max-width: 160px;
  padding-left: 15px;
}
.modal-body input {
  max-width: 200px;
}
.modal-body .control-label {
  font-family: "open_sans_condensedbold";
  text-transform: uppercase;
  font-size: 14px;
}
.modal-header {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  border-bottom: none;
  padding-bottom: 0;
}
.modal-footer {
  border-top: none;
  padding-top: 15px;
}
.modal-content {
  background: url('../../static/img/common/cart_bg_light.png') repeat;
}
.modal-footer .btn {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  font-size: 18px;
}
.modal-body .wrapp {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .25em;
  margin: 10px auto 20px;
  border: 1px dashed #00778c;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
  padding: 15px 0 0;
}
.modal-body .text-in {
  font-family: "open_sans_condensedbold";
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  float: left;
  padding-top: 6px;
}
.modal-body .text-in .x {
  color: #DB7264;
  font-family: arial;
  font-weight: bold;
  padding: 0 6px;
}
.modal-body .ui-spinner {
  float: left;
}
.modal-body .done-box {
  font-size: 120%;
  padding: 20px 0 10px;
}

/*Продукция рестайлинг*/
.thumbnail p {
text-align: center;
color: #4E4E4D;
font-size: 18px;
margin-bottom: 5px;
}

.ui-spinner {
  border: none;
  background: transparent;
}
.ui-spinner-input {
  border: 1px solid #006b7e;
  color: #006b7e;
  background-color: #fff;
  padding: 0 2px 0 12px;
  border-radius: 6px;
  width: 34px;
  margin: 0.2em;
  float: left;
}
.ui-spinner-up {
  background: url("../img/top.png");
  border: none 
}
.ui-icon,
.ui-icon-triangle-1-n,
.ui-button-text {
  display: none;
}
.ui-spinner-down {
  background: url("../img/down.png");
  border: none ;
}
.ui-spinner-up:hover,
.ui-spinner-down:hover {
  cursor: pointer;
}
.ui-spinner-button {
  width: 28px;
  height: 28px;
  position: relative;
  float: left;
  margin: 4px;
}
.ui-spinner-button:active {
  margin-top: 0.5em;
}
/*Продукция рестайлинг*/

/* e-mail block */
.e-mail-text {
  padding-left: 390px;
  padding-top: 4px;
}
.e-mail-text .e-mail-text_input {
  height: 28px;
  width: 218px;
  font-family: "MyriadPro-Regular";
  color: #727272;
  font-size: 12px;
  font-weight: 400;
  padding-left: 8px;
}
.submit__button {
  padding-left: 446px;
  padding-top: 18px;
}
.submit__button .submit__button_prop {
  height: 38px;
  width: 108px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  background-color: #50ac44;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), inset 0 2px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), inset 0 2px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.31);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), inset 0 2px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.31);
  border: solid 1px #3b8e31;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  font-family: "MyriadPro-Regular";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.32);
}
